@model Tienda_Benito.Models.Rubro
@{
    ViewData["Title"] = "Detalles Rubro";
}
<h1>Detalles Rubro</h1>
<dl class="row">
    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Nombre</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.RubroId" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
