@model IEnumerable<Tienda_Benito.Models.Rubro>
@{
    ViewData["Title"] = "Listado de Rubros";
}

<h1>Rubros</h1>
<p><a asp-action="Create" class="btn btn-primary">Nuevo Rubro</a></p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RubroId" class="btn btn-sm btn-info">Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.RubroId" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.RubroId" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
