@model Tienda_Benito.Models.Cliente

@{
    ViewData["Title"] = "Crear Cliente";
}

<h1>Crear</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Apellido"></label>
        <input asp-for="Apellido" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CondFiscal"></label>
        <input asp-for="CondFiscal" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cuit"></label>
        <input asp-for="Cuit" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
