@model Tienda_Benito.Models.Usuario
@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h1>¿Seguro que desea eliminar este usuario?</h1>

<div>
    <h4>Usuario</h4>
    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Rol</dt>
        <dd class="col-sm-10">@Model.Rol</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="UsuarioId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
