@model Tienda_Benito.Models.Usuario
@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="UsuarioId" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PasswordHash"></label>
        <input asp-for="PasswordHash" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Rol"></label>
        <input asp-for="Rol" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Avatar"></label>
        <input asp-for="Avatar" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
